body {
 background-image: url('photos/bg.jpg');
 height : 200% ;
}

.navbar {
  position: sticky ;
  border : black solid 2px ;
  border-radius: 10px;
  display: flex ;
  height: 50px;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(143, 244, 19);
  top: 0;
  left: 0;  
}
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.nav-link:hover {
  color: white;
}
.hero {
  text-align: center;
  margin-top: 50px;
  border: solid tomato 5px;
}
